*.icon-white {
    color: #FFF
}

*.icon-dark {
    color: var(--bs-dark)
}
*.icon-dark:hover {
    color: var(--bs-secondary)
}

*.icon-secondary {
    color: var(--bs-secondary)
}

*.icon-secondary:hover {
    color: var(--bs-dark)
}

div > a {
    color: var(--bs-dark);
    font-weight: bold;
    text-decoration-thickness: 2px;
}

div > a:hover {
    color: var(--bs-secondary);
    font-weight: bold;
    text-decoration-thickness: 2px;
}

.input-group-text {
    color: white;
    background-color: var(--bs-dark) !Important;
    border: solid 1px var(--bs-dark) !Important;
}

.pagination > li > a
{
    background-color: #FFF;
    color: var(--bs-dark);
    border: #FFF;
}

.table > thead > tr > th > a {
    color: var(--bs-dark);
    text-decoration: none;
}

.table > thead > tr > th > a:hover {
    color: var(--bs-secondary);
    text-decoration: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #FFF;
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.pagination > .active > a:hover
{
    background-color: var(--bs-secondary) !Important;
    border: solid 1px var(--bs-secondary);
}

.pagination > .active > a
{
    color: white;
    background-color: var(--bs-dark) !Important;
    border: solid 1px var(--bs-dark) !Important;
}

.pagination > .disabled > a {
    color: white;
    background-color: var(--bs-dark) !Important;
    border: solid 1px var(--bs-dark) !Important;
}

#thumbnail {
    width: 150px;
    max-width: 150px;
    height: 200px;
    max-height: 200px;
}

#listThumbnail {
    width: 45px;
    max-width: 45px;
    height: 60px;
    max-height: 60px;
    border-radius: 50%;
}