*.icon-white {
    color: #FFF
}

*.icon-dark {
    color: var(--bs-dark)
}

*.icon-dark:hover {
    color: var(--bs-secondary)
}

*.icon-secondary {
    color: var(--bs-secondary)
}

*.icon-secondary:hover {
    color: var(--bs-dark)
}

div > a {
    color: var(--bs-dark);
    font-weight: bold;
    text-decoration: none;
}

div > a:hover {
    color: var(--bs-secondary);
    font-weight: bold;
    text-decoration: none;
}

.form-select-sm {
    -webkit-appearance: none;
    font-weight: bold;
    appearance: none;
    background-color: var(--bs-dark);
    color: #FFF;
    border: 1px solid var(--bs-dark);
    border-radius: 0.25rem;
    cursor: pointer;
}

.input-group-text {
    color: white;
    background-color: var(--bs-dark) !Important;
    border: solid 1px var(--bs-dark) !Important;
}

@media screen and (max-width: 768px) {
    div.table-responsive {
        display: none;
    }
    div.less-details {
        display: block;
    }
}

.pagination > li > a {
    background-color: #FFF;
    color: var(--bs-dark);
    border: #FFF;
}

.table > thead > tr > th > a {
    color: var(--bs-dark);
    text-decoration: none;
}

.table > thead > tr > th > a:hover {
    color: var(--bs-secondary);
    text-decoration: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #FFF;
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.pagination > .active > a:hover {
    background-color: var(--bs-secondary) !Important;
    border: solid 1px var(--bs-secondary);
}

.pagination > .active > a {
    color: white;
    background-color: var(--bs-dark) !Important;
    border: solid 1px var(--bs-dark) !Important;
}

.pagination > .disabled > a {
    color: white;
    background-color: var(--bs-dark) !Important;
    border: solid 1px var(--bs-dark) !Important;
}

.thumbnail {
    width: 150px;
    max-width: 150px;
    height: 200px;
    max-height: 200px;
}

.listThumbnail {
    width: 60px;
    max-width: 60px;
    height: 80px;
    max-height: 80px;
    border-radius: 50%;
}