<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: head('Account')}"></head>
<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: nav}"></div>
    <div class="text-center">
        <h1>[[${pageTitle}]]</h1>
    </div>
    <div class="container-fluid">
        <div th:if="${message != null}" class="mt-3 alert alert-dark text-center">
            [[${message}]]
        </div>
        <form class="row g-3" method="post" enctype="multipart/form-data"
              th:action="@{/account/update}" th:object="${user}">
            <input type="hidden" th:field="*{id}">
            <div class="col-md-6">
                <label class="form-label w-100">
                    First Name
                    <input type="text" class="form-control" required minlength="2" maxlength="45"
                           th:field="*{firstName}">
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label  w-100">
                    Last Name
                    <input type="text" class="form-control" required minlength="2" maxlength="45"
                           th:field="*{lastName}">
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label w-100">
                    Email
                    <input type="email" class="form-control" readonly="readonly" th:field="*{email}">
                </label>
            </div>
            <div class="col-md-6 d-grid">
                <label class="form-label">Assigned Roles</label>
                <span>
                    <b>[[${user.roles}]]</b>
                </span>
            </div>
            <div class="col-md-6">
                <label class="form-label w-100">
                    Password
                    <input type="password" class="form-control" placeholder="Leave blank if not applicable."
                           minlength="4" maxlength="64"
                           oninput="checkPassword(document.getElementById('confirmPassword'))" th:field="*{password}">
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label w-100">
                    Confirm Password
                    <input type="password" class="form-control" id="confirmPassword" minlength="4" maxlength="64"
                           oninput="checkPassword(this)">
                </label>
            </div>
            <div class="col-md-8">
                <input type="hidden" th:field="*{photo}">
                <label class="form-label w-100">
                    Photo
                    <input type="file" class="form-control" id="imageInput" name="image" accept="image/png, image/jpeg">
                </label>
            </div>
            <div class="col-md-4 text-center">
                <img class="thumbnail" alt="Photo Preview" th:src="@{${user.photoPath}}">
            </div>
            <div class="col-12 text-center p-3">
                <button type="submit" class="btn btn-dark">Save</button>
                <button type="button" class="btn btn-secondary" id="buttonCancel">Cancel</button>
            </div>
        </form>
    </div>
    <div th:replace="~{fragments :: footer}"></div>
</div>
<script type="text/javascript">
    moduleUrl = "[[@{/}]]";
    function checkPassword(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Passwords do not match.");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>
<script type="text/javascript" th:src="@{/js/script_form.js}"></script>
</body>
</html>