<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minium-scale=1.0">
    <title>[[${title}]] | Shop Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/sweetalert2/11.10.1/dist/sweetalert2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/6.4.2/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sweetalert2/11.10.1/dist/sweetalert2.all.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/font-awesome/6.4.2/js/all.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:fragment="footer" class="text-center">
    <p>Admin Control Panel - Copyright &copy; Shop</p>
</div>
<th scope="col" th:fragment="column_link(fieldName, columnLabel)">
    <a th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortOrder=' + ${sortField != fieldName ? sortOrder : reverseSortOrder} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>
    <i th:if="${sortField == fieldName && fieldName != 'enabled'}"
       th:class="${sortOrder == 'asc' ?  'fa-solid fa-arrow-up-a-z' : 'fa-solid fa-arrow-down-z-a'}"></i>
    <i th:if="${sortField == fieldName && fieldName == 'enabled'}"
       th:class="${sortOrder == 'asc' ?  'fa-solid fa-arrow-up-wide-short' : 'fa-solid fa-arrow-down-wide-short'}"></i>
</th>
<a class="page-link" th:fragment="pagination_link(pageNumber, linkLabel)"
   th:href="@{'/users/page/' + ${pageNumber} + '?sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${linkLabel}]]
</a>
</body>
</html>