<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: head('Manage Users')}"></head>
<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: nav}"></div>
    <div class="text-center">
        <h1>Manage Users</h1>
        <a class="icon-dark" title="Add User" th:href="@{/users/create}">
            Add
            <i class="fa-solid fa-user-plus"></i>
        </a>
        &nbsp; | &nbsp;
        <select class="form-select-sm" onchange="exportTo(this);">
            <option value="0" selected>Export to...</option>
            <option th:href="@{/users/export/csv}">CSV</option>
            <option th:href="@{/users/export/excel}">Excel</option>
            <option th:href="@{/users/export/pdf}">PDF</option>
        </select>
        <a th:href="@{/users/export/csv}"></a>
    </div>
    <div th:if="${message != null}" class="mt-3 alert alert-dark text-center">
        [[${message}]]
    </div>
    <div>
        <form class="row row-cols-lg-auto g-1 p-3" th:action="@{/users/page/1}">
            <div class="col-12">
                <label class="visually-hidden">
                    Filter
                </label>
                <input type="hidden" name="sortField" th:value="${sortField}">
                <input type="hidden" name="sortOrder" th:value="${sortOrder}">
                <div class="input-group">
                    <div class="input-group-text">Filter</div>
                    <input class="form-control" type="search" name="keyword" placeholder="Keyword" required
                           th:value="${keyword}">
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-dark w-100" value="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary w-100" value="Clear" onclick="clearFilter();">Clear
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" th:replace="~{fragments :: column_link('firstName', 'Full Name')}">
                </th>
                <th scope="col" th:replace="~{fragments :: column_link('email', 'Email')}">
                </th>
                <th scope="col">Roles</th>
                <th class="text-center" scope="col" th:replace="~{fragments :: column_link('enabled', 'Enabled')}">
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="user : ${users}">
                <td class="text-center">
                    <img class="listThumbnail" alt="Photo Preview" th:src="@{${user.photoPath}}">
                </td>
                <td>[[${user.fullName}]]</td>
                <td>[[${user.email}]]</td>
                <td>[[${user.roles}]]</td>
                <td class="text-center">
                    <a class="icon-dark link-enabled" th:fullName="${user.fullName}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/' + ${!user.enabled} }">
                        <i class="fa-solid fa-circle-check fa-lg" th:if="${user.enabled == true}"
                           title="Disable User"></i>
                        <i class="fa-solid fa-circle-xmark fa-lg" th:if="${user.enabled == false}"
                           title="Enable User"></i>
                    </a>
                </td>
                <td>
                    <a class="icon-dark" title="Update User" th:href="@{'/users/update/' + ${user.id}}">
                        <i class="fa-solid fa-user-pen fa-lg"></i>
                    </a>
                    &nbsp;
                    <a class="icon-dark link-delete" title="Delete User" th:href="@{'/users/delete/' + ${user.id}}"
                       th:fullName="${user.fullName}">
                        <i class="fa-solid fa-user-minus fa-lg"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details d-lg-none d-md-none">
        <div class="row m-1" th:each="user : ${users}">
            <div class="col-4 text-center">
                <img class="listThumbnail" alt="Photo Preview" th:src="@{${user.photoPath}}">
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.email}]]</div>
                <div>[[${user.roles}]]</div>
                <div>
                    <a class="icon-dark link-enabled" th:fullName="${user.fullName}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/' + ${!user.enabled} }">
                        <i class="fa-solid fa-circle-check fa-lg" th:if="${user.enabled == true}"
                           title="Disable User"></i>
                        <i class="fa-solid fa-circle-xmark fa-lg" th:if="${user.enabled == false}"
                           title="Enable User"></i>
                    </a>
                    &nbsp;
                    <a class="icon-dark" title="Update User" th:href="@{'/users/update/' + ${user.id}}">
                        <i class="fa-solid fa-user-pen fa-lg"></i>
                    </a>
                    &nbsp;
                    <a class="icon-dark link-delete" title="Delete User" th:href="@{'/users/delete/' + ${user.id}}"
                       th:fullName="${user.fullName}">
                        <i class="fa-solid fa-user-minus fa-lg"></i>
                    </a>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col text-lg-start text-center">
            <span th:if="${totalCount > 0}">Showing [[${startCount}]] to [[${endCount}]] of [[${totalCount}]] users</span>
            <span th:unless="${totalCount > 0}">No users found</span>
        </div>
        <div class="col" th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-lg-end justify-content-center">
                    <li class="page-item" th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                        <a th:replace="~{fragments :: pagination_link(${currentPage - 1}, 'Previous')}"></a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}"
                        th:class="${currentPage != pageNumber ? 'page-item' : 'page-item active disabled'}">
                        <a th:replace="~{fragments :: pagination_link(${pageNumber}, ${pageNumber})}"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                        <a th:replace="~{fragments :: pagination_link(${currentPage + 1}, 'Next')}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:replace="~{fragments :: footer}"></div>
</div>
<script>
    $(".link-delete").on("click", (event) => {
        event.preventDefault();
        url = $(event.currentTarget);
        console.log(url);
        fullNameValue = url.attr("fullName");
        Swal.fire({
            title: "Do you really want to delete this user?",
            text: fullNameValue + " will be deleted! This decision is irreversible.",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "#000",
            cancelButtonColor: "#6c757d",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url.attr("href");
            }
        });
    });
    $(".link-enabled").on("click", (event) => {
        event.preventDefault();
        url = $(event.currentTarget);
        console.log(url);
        fullNameValue = url.attr("fullName");
        Swal.fire({
            title: "Do you want to update user status?",
            text: fullNameValue + " status will be updated!",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "#000",
            cancelButtonColor: "#6c757d",
            confirmButtonText: "Yes, update it!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url.attr("href");
            }
        });
    });

    function clearFilter() {
        window.location = "[[@{/users}]]";
    }

    function exportTo(select) {
        window.location = select.options[select.selectedIndex].attributes.href.value;
        select.value = 0;
    }

</script>
</body>
</html>