<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minium-scale=1.0">
    <title>[[${pageTitle}]] | Manage Users | Shop Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/sweetalert2/11.10.1/dist/sweetalert2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/6.4.2/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sweetalert2/11.10.1/dist/sweetalert2.all.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/font-awesome/6.4.2/js/all.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/ShopAdminSmall.png}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/report}">Sales Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1>[[${pageTitle}]]</h1>
    </div>
    <div class="container-fluid">
        <form class="row g-3" method="post" enctype="multipart/form-data"
              onsubmit="return checkEmail(this)" th:action="@{/users/save}" th:object="${user}">
            <input type="hidden" th:field="*{id}">
            <div class="col-md-6">
                <label class="form-label w-100">
                    First Name
                    <input type="text" class="form-control" required minlength="2" maxlength="45"
                           th:field="*{firstName}">
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label  w-100">
                    Last Name
                    <input type="text" class="form-control" required minlength="2" maxlength="45"
                           th:field="*{lastName}">
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label w-100">
                    Email
                    <input type="email" class="form-control" required minlength="8" maxlength="128" th:field="*{email}">
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label w-100">
                    Password
                    <input type="password" class="form-control" required minlength="4"
                           maxlength="64" th:field="*{password}" th:if="${user.id == null}">
                    <input type="password" class="form-control" placeholder="Leave blank if not applicable."
                           minlength="4"
                           maxlength="64" th:field="*{password}" th:if="${user.id != null}">
                </label>
            </div>
            <div class="col-12">
                <label class="form-label">Roles</label>
                <th:block th:each="role : ${roles}">
                    <div class="form-check">
                        <label class="form-check-label">
                            [[${role.name}]]
                            <input type="checkbox" class="form-check-input" th:field="*{roles}" th:value="${role.id}">
                            <small>- [[${role.description}]]</small>
                        </label>
                    </div>
                </th:block>
            </div>
            <div class="form-check col-12">
                <label class="form-check-label">
                    Enabled
                    <input type="checkbox" class="form-check-input" th:field="*{enabled}">
                </label>
            </div>
            <div class="col-md-8">
                <input type="hidden" th:field="*{photos}">
                <label class="form-label w-100">
                    Photo
                    <input type="file" class="form-control" id="imageInput" name="image" accept="image/png, image/jpeg">
                </label>
            </div>
            <div class="col-md-4 text-center">
                <img id="thumbnail" alt="Photo Preview" th:src="@{${user.photoPath}}">
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-dark">Save</button>
                <button type="button" class="btn btn-secondary" id="buttonCancel">Cancel</button>
            </div>
        </form>
    </div>
    <div class="text-center">
        <p>Admin Control Panel - Copyright &copy; Shop</p>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(() => {
        $("#buttonCancel").on("click", () => {
            window.location = "[[@{/users}]]";
        });
    });

    $("#imageInput").change((event) => {
        imageInput = event.currentTarget;
        fileSize = imageInput.files[0].size;
        if (fileSize > 1048576) {
            imageInput.setCustomValidity("You must choose an image less than 1 mb.");
            imageInput.reportValidity();
        } else {
            imageInput.setCustomValidity("");
            showThumbnail(imageInput);
        }
    })

    function showThumbnail(imageInput) {
        var image = imageInput.files[0];
        var fileReader = new FileReader();
        fileReader.onload = (event) => {
            $("#thumbnail").attr("src", event.target.result);
        }
        fileReader.readAsDataURL(image);
    }


    function checkEmail(form) {
        url = "[[@{/users/check_email}]]";
        idValue = $("#id").val();
        emailValue = $("#email").val();
        csrfValue = $("input[name='_csrf']").val();
        params = {"id": idValue, "email": emailValue, "_csrf": csrfValue};
        $.post(url, params, (response) => {
            if (response === "Ok") {
                Swal.fire({
                    title: "Do you want to save the changes?",
                    text: "You can always check the user details before!",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#000",
                    cancelButtonColor: "#6c757d",
                    confirmButtonText: "Yes, save it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            } else if (response === "Error") {
                showAlert("Warning", "This email " + emailValue + " is already registered.", "warning");
            } else {
                showAlert("Error", "Unknown response from server.", "error");
            }
        });
        return false;
    }

    function showAlert(title, text, icon) {
        Swal.fire({
            title: title,
            text: text,
            icon: icon,
            confirmButtonColor: "#000",
        });
    }
</script>
</body>
</html>